@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#grid_wrapper_main {
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 728px 1092px 243px;
    grid-template-areas: 
    "he"
    "ma"
    "fo";
}

#grid_wrapper_nav {
    position: fixed;
    display: grid;
    top: 0px;
    width: 100vw;
    height: 75px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 75px;
    grid-template-areas: 
    "nlo nli";
}

.nav_logga {
    grid-area: nlo;
    background: lightgray;
    background-color: rgba(211, 211, 211, 0.4);
}

#logga {
    width: auto;
    height: 75px;
}

.nav_link {
    grid-area: nli;
    background-color: rgba(211, 211, 211, 0.4);
}

#link_list {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

.header_main {
    grid-area: he;
    background: green;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-image: url("img/raw_meat.jpg");
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

#raw_meat_main {
    width: 100%;
    height: auto;
}

.text_over_img_main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1_main_img {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    color: lightgray;
}

#h3_main_img {
    position: relative;
    top: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightgray;
    font-size: 25px;
}

.inner_wrapper_main {
    grid-area: ma;
    background: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a1 a2"
    "a3 a4";
    padding: 50px;
}

#article_1 {
    grid-area: a1;
    height: 350px;
    width: 350px;
    position: relative;
    top: 100px;
    left: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: dotted lightgray;
    font-family: Arial Narrow, sans-serif;
}

#article_1_ot {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article_2 {
    grid-area: a2;
    height: 300px;
    width: 350px;
    position: relative;
    top: -100px;
    left: 742px;
    border: dotted lightgray;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
}

#article_2_oo {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article_3 {
    grid-area: a3;
    height: 300px;
    width: 350px;
    position: relative;
    top: 0px;
    left: 150px;
    border: dotted lightgray;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
}

#article_3_liok {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article_4 {
    grid-area: a4;
    height: 325px;
    width: 300px;
    position: relative;
    top: -250px;
    left: 800px;
    border: dotted lightgray;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
}

#article_4_kih {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#kocken_i_huset {
    width: 100%;
    height: 91%;
}

footer {
    grid-area: fo;
    background: darkslategrey;
}

#article1 {
    height: 100px;
    width: 150px;
    position: relative;
    left: 200px;
    top: 50px;
    color: lightgray;
    font-family: Arial Narrow, sans-serif;
}

#article1_rtr {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article2 {
    height: 100px;
    width: 150px;
    position: relative;
    left: 600px;
    top: -50px;
    color: lightgray;
    font-family: Arial Narrow, sans-serif;
}

#article2_hh {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article3 {
    height: 100px;
    width: 150px;
    position: relative;
    left: 1000px;
    top: -150px;
    color: lightgray;
    font-family: Arial Narrow, sans-serif;
}

#article3_fo {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#no_signal {
    font-size: 150px;
    text-align: center;
}

.grid_wrapper_meny {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1000px 243px;
    grid-template-areas: 
    "heme"
    "mame"
    "fome";
}

#header_meny {
    grid-area: heme;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#h1_meny {
    font-family: 'Lobster Two', cursive;
}

.inner_wrapper_meny {
    grid-area: mame;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1me" 
    "a2me"
    "a3me"
    "a4me";
    padding: 100px;
}

.h2_article_meny {
    font-family: 'Lobster Two', cursive;
}

.article_meny_ul {
    font-family: 'Lobster Two', cursive;
    position: relative;
    top: 10px;
    left: -150px;
    list-style-type: none;
}

.article_ul_pris {
    font-family: 'Lobster Two', cursive;
    position: relative;
    top: -130px;
    left: 150px;
    list-style-type: none;
}

#article001 {
    grid-area: a1me;
    text-align: center;
    padding: 15px;
    height: 250px;
}

#article002 {
    grid-area: a2me;
    text-align: center;
    padding: 15px;
    height: 250px;
}

#article003 {
    grid-area: a3me;
    text-align: center;
    padding: 15px;
    height: 250px;
}

#article004 {
    grid-area: a4me;
    text-align: center;
    padding: 15px;
    height: 250px;
}

#footer_meny {
    grid-area: fome;
    background: darkslategray;
}

#grid_wrapper_ko {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 400px 243px;
    grid-template-areas: 
    "heko"
    "mako"
    "foko";
}

#header_ko {
    grid-area: heko;
    display: flex;
    background: darkslategray;
    align-items: center;
    padding: 75px;
}

#h1_ko {
    color: lightgray;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inner_wrapper_ko {
    grid-area: mako;
    display: flex;
    width: 100vw;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a1ko"
    "a2ko"
    "a3ko";
    justify-content: space-around;
    align-items: center;
}

#article01 {
    grid-area: a1ko;
    height: 300px;
    width: 300px;
}

#h2_ko_ko {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ko_ul_a1 {
    list-style-type: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article02 {
    grid-area: a2ko;
    height: 300px;
    width: 300px;
}

#h2_ot_ko {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ko_ul_a2 {
    list-style-type: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article03 {
    grid-area: a3ko;
    height: 300px;
    width: 300px;
    text-align: center;
}

#h2_ka_ko {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bild_po_karta {
    width: 100%;
    height: auto;
}

#footer_ko {
    grid-area: foko;
    background: darkslategray;
}